<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${menus} and ${menus.size()}">no menu :(</p>

<form method="post" style="max-width:600px;" th:object="${menus}">

    <ul th:each="menu : ${menus}">
        <li th:text="${menu.name}"> <a href="/menu/view/${menu.id}" ></a></li>
    </ul>
    <br>
    <nav>
        <a href="/menu/add">Add Category</a>
    </nav>

</form>

</body>
</html>